.container {
  height: auto;
  width: 20rem;
  padding: 3rem;
  text-align: left;
  margin-top: 7rem;
  border-radius: 1rem;
  box-shadow: 3px 2px 21px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 2px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 21px 0px rgba(0, 0, 0, 0.75);
}
input {
  border-radius: 10px;
  box-shadow: none;
}
button {
  margin-top: 2em;
  width: 100%;
}
.forgot {
  color: wheat;
}
.forgot:hover {
  color: rgb(47, 102, 255);
}
#logout:hover {
  color: black;
}
.hide {
  display: none;
}
